<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Songs</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body class="jb-mono">
  <%-include("partials/header.ejs")%>

  <div class="songs-container">
    <% if (allSongs && allSongs.length > 0) { %>
      <% allSongs.forEach(function(song) { %>

        <div class="song-card">
          <img src="/images/thumbnail.png" alt="logo">

          <h3><%= song.song_title %></h3>
          <p><%= song.artist %></p>
          <p><%= song.category %></p>
          <p><%= song.genre %></p>
          <a  href="/play/<%= song.id %>" class="button">Play Song</a>
          <a href="/download/<%= song.id %>" class="button">Download Song</a>
          </div>

      <% }); %>
    <% } else { %>
      <p>No songs found.</p>
    <% } %>
  </div>

  <%-include("partials/footer.ejs")%>
</body>

</html>
